# ----------------------------------------
# ENV
# ----------------------------------------
config.js

# ----------------------------------------
# NPM
# ----------------------------------------
node_modules/
npm-debug.log